/* utils */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.full-height {
    height: 100%;
  }

  .center-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hc-luckywheel ul,
  .hc-luckywheel li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .hc-luckywheel {
    position: relative;
    width: 500px;
    /*Change this when change size*/
    height: 500px;
    /*Change this when change size*/
    border-radius: 50%;
    /* border: 16px solid #35BDEE; */
    box-shadow: 0 2px 3px #333, 0 0 2px #000;
  }

  .hc-luckywheel::after {
    content: "";
    position: absolute;
    top: -16px;
    left: -16px;
    border-radius: 50%;
    height: calc(100% + 32px);
    width: calc(100% + 32px);
    border: 16px solid #35BDEE;
  }

  .hc-luckywheel-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-clip: padding-box;
    background-color: #ffcb3f;
    -webkit-transition: transform 6s ease;
    transition: transform 6s ease;
  }

  .hc-luckywheel-container canvas {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }

  .hc-luckywheel-list {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    z-index: 2;
  }

  .hc-luckywheel-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #e4370e;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  }

  .hc-luckywheel-item span {
    position: relative;
    display: block;
    padding-top: 20px;
    /* width: 50px; */
    margin: 0 auto;
    text-align: center;
    -webkit-transform-origin: 50% 250px;
    /*Change this when change size*/
    -ms-transform-origin: 50% 250px;
    /*Change this when change size*/
    transform-origin: 50% 250px;
  }

  /*Change this when change size*/

  .hc-luckywheel-item img {
    position: relative;
    top: -20px;
    left: 0px;
    width: 80px;
    height: 80px;
    margin-top: 17px;
  }

  /*Change this when change size*/

  .hc-luckywheel-btn {
    position: absolute;
    left: 210px;
    /*Change this when change size*/
    top: 210px;
    /*Change this when change size*/
    z-index: 3;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #f4e9cc;
    background-color: #e44025;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    text-decoration: none;
  }

  .hc-luckywheel-btn::after {
    position: absolute;
    display: block;
    content: "";
    left: 10px;
    top: -46px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 30px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #e44025;
  }

  .hc-luckywheel-btn.disabled {
    pointer-events: none;
    background: #b07a7b;
    color: #ccc;
  }

  .hc-luckywheel-btn.disabled::after {
    border-bottom-color: #b07a7b;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
  }

  .bg {
    min-height: 100vh;
    background-image: url('../images/bgSpinner.png');
    background-size: cover;
  }

  /* logo */

  .logo {
    width: 120px;
    margin-top: 30px;
  }

  .logo img {
    width: 100%;
  }

  .row-cus {
    flex: 1;
    margin-top: 20px;
  }

  .user-infor, .history {
    width: 100%;
    border: 1px solid #ccc;
    /* padding: 20px; */
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .title {
    width: 100%;
    padding: 15px;
    background-image: linear-gradient(90deg, #538AFE 10%, #0044FF 90%);
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui;
    color: #fff;
  }

  .user-infor-row {
    display: flex;
    padding: 4px 12px;
    border-bottom: 1px solid rgb(218, 218, 218);
  }

  .user-infor-row:last-child {
    border-bottom: none;
  }

  .user-infor-row_label {
    font-weight: 400;
  }

  .user-infor-row_value {
    font-weight: 500;
    color: #000;
    margin-left: 24px;
  }

  .history-content {
    max-height: 320px;
    overflow-y: auto;
  }

  .history-content::-webkit-scrollbar {
    display: none;
  }

  .history table {
    width: 100%;

  }

  .history tr {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgb(218, 218, 218);
  }

  .history tr:last-child {
    border-bottom: none;
  }

  .history td {
    font-weight: 400;
  }

  /* responsive */

  /* Tablet Only */
